<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.mobilescanapp" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="24" android:targetSdkVersion="28" />
	<application android:label="MobileScanApp.Android" android:theme="@style/MainTheme" android:icon="@mipmap/AppIcon"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<!-- Permissions for accessing camera, needed to scan on Android -->
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.FLASHLIGHT" />
  <!-- Permissions for accessing external device storage -->
  <uses-permission android:name="android.permission.READ_EXTRERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTRERNAL_STORAGE" />
</manifest>